/*UNIVERSAL SELECTORS*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

/*ROOT*/
:root{
	--bg-color: #ffffff;
	--text-color: #111111;
	--main-color: #c8815f;
	--big-font: 4.5rem;
	--h2-font: 3.3rem;
	--h3-font: 2rem;
	--normal-font: 1rem;
}

/*BODY
body{
	
}*/

/*HEADER*/
header{
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 20px 50px;
	transition: all .35s ease;
}
.logo{
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 1px;
	color: var(--text-color);
}
.navlist{
	display: flex;
}
.navlist a{
	color: var(--text-color);
	font-weight: 600;
	padding: 10px 25px;
	font-size: var(--normal-font);
	transition: all .36s ease;
}
.navlist a:hover{
	color: var(--main-color);
}
.header-icons i{
	font-size: 32px;
	color: var(--text-color);
	margin-right: 20px;
	transition: all .36s ease;
}
.header-icons i:hover{
	color: var(--main-color);
}
#menu-icon{
	font-size: 34px;
	color: var(--text-color);
	z-index: 10001;
	margin-right: 20px;
	display: none;
}
header.sticky{
	background: var(--bg-color);
	padding: 20px 50px;
	box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/*BODY*/
   * {
    box-sizing: border-box;
}body{background:#ffffff ;
	color: var(--text-color);
  }
  
  h2{
  	text-align: center;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: rgb(218, 217, 217);
    margin-bottom: 1rem;
  }	
 .card p.desc{ 
	height: 66px;
  overflow-y:auto;
 }

  .addtocartbutton {
  background-color: black; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.addtocartbutton:hover {background-color: #6f6f6f}
/* clear fix container */

.clearfix {
	float: none;
	clear: both;
  }

/* price tags*/
.price {
  color:grey;
  text-align: center;
  font-size: 20px;
}
/*ADMIN*/

.tbl-full {
	width: 100%;
  }
  .tbl-30 {
	width: 30%;
  }
  .tbl-60 {
	width: 60%;
  }
  
  table {
	border-collapse: collapse;
	width: 100%;
  }
  
  th,
  td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
  }
  
  tr:hover {
	background-color: #f5f5f5;
  }
  
  table tr th {
	border-bottom: 1px solid black;
	padding: 1%;
	text-align: left;
  }
  
  table tr td {
	padding: 1%;
  }
  
  .btn-primary {
	background-color: #1e90ff;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
  }
  .btn-primary:hover {
	background-color: #3742fa;
  }
  
  .btn-secondary {
	background-color: #7bed9f;
	padding: 1%;
	color: black;
	text-decoration: none;
	font-weight: bold;
  }
  .btn-secondary:hover {
	background-color: #2ed573;
  }
  
  .btn-danger {
	background-color: #ff6b81;
	padding: 1%;
	color: white;
	text-decoration: none;
	font-weight: bold;
  }
  .btn-danger:hover {
	background-color: #5d9e5f;
  }
  
  .success {
	color: #2ed573;
  }
  .error {
	color: #5d9e5f;
  }
  .col-4 {
	width: 18%;
	background-color: white;
	margin: 1%;
	padding: 2%;
	float: left;
	height: 151px;
  }
  .wrapper {
	padding: 1%;
	width: 80%;
	margin: 0 auto;
  }
  .main-content {
	background-color: #f6f3f0;
	padding: 3% 0;
  }
  .text-center {
	text-align: center;
  }
  
  
  


/*BANNER*/
section{
	padding: 100px 120px;
}
.banner{
	height: 70vh;
	width: 100%;
	background: url(../images/banner1.png);
	margin-top: 75px;
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
}
.btn{
	display: inline-block;
	padding: 13px 25px;
	background: var(--main-color);
	color: var(--bg-color);
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 600;
	border-radius: 5px;
	transition: all .35s ease;
}
.btn:hover{
	transform: translateY(-5px);
	background: var(--text-color);
}
.banner-text h6{
	font-size: 17px;
	font-weight: 500;
	letter-spacing: .6px;
	margin-bottom: 14px;
}
.banner-text h4{
	font-size: 3.3rem;
	line-height: 1.2;
	letter-spacing: .6rem;
	margin-bottom: 30px;
}

/*CONTACT*/
.contact{
	background: var(--text-color);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	gap: 2rem;
	text-align: center;
	padding: 1.5rem 0;
}
.main-contact h3{
	font-size: 23px;
	margin-bottom: 1.6rem;
	color: var(--bg-color);
}
.icons{
	align-items: center;
}
.icons i{
	font-size: 30px;
	margin-right: 1rem;
	color: white;
	transition: all .35s ease;
}
.icons i:hover{
	color: var(--bg-color);
	transform: scale(1.1) translateY(-5px);
}
.last-text{
	text-align: center;
	padding-bottom: 20px;
	background: var(--text-color);
}
.last-text p{
	color: #555;
	font-size: 14px;
	letter-spacing: 1px;
}

/*ARROW BUTTON*/
.top{
	position: fixed;
	bottom: 2rem;
	right: 2rem;
}
.top i{
	font-size: 22px;
	color: var(--bg-color);
	padding: 14px;
	background: var(--main-color);
	border-radius: 2rem;
}
 
 

/*MEDIA QUERIES*/
@media (max-width: 1000px){
	header{
		padding: 7px 4%;
		transition: .2s;
	}
	header.sticky{
		padding: 14px 4%;
		transition: .2s;
	}
	section{
		padding: 80px 4%;
		transition: .1s;
	}
}

@media (max-width: 670px){
	#menu-icon{
		display: block;
		cursor: pointer;
	}
	.header-icons{
		display: inline-flex;
	}
	.navlist{
		position: absolute;
		top: 100%;
		left: -100%;
		width: 280px;
		height: 120vh;
		background: var(--bg-color);
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 150px 30px;
		transition: all .45s ease;
	}
	.navlist a{
		display: block;
		margin: 1.2rem 0;
	}
	.navlist.open{
		left: 0;
	}
}